@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

p, span {
    font-size: clamp(1rem, 2vw, 1.2rem);
    line-height: 180%;
    
    @include mq($md) {
        letter-spacing: 0.2rem;
    }
}

h1 {
    letter-spacing: -2px;
}